*{
    margin: 0;
    padding: 0;
    background-color: #0a3d62;
}
body{
    color: #f6b93b;
    text-align: center;
}
.heading{
    font-size: 6rem;
    margin: 20px;
    text-shadow: 4px 2px white;
}
.container{
    width: 70%;
    margin: auto;
    text-shadow: 1px 0.5px white;
}
.dice{
    display: inline-block;
    font-size: 3rem;
}
img{
    width: 28vw;
}
button{
    color: black;
    font-size: medium;
    width: 50vw;
    background-color: aliceblue;
}





